
        div{
            border: 1px solid blue;
            margin: 20px;
            padding: 10px;
            background-color: aliceblue;
            border-radius: 15px;
            box-shadow: 10px 5px black;
        }

        #icono-usuario{
            width: 20%;
            float: left;
            border-radius: 50%;
        }
        body{
            text-align: center;
            font-family:'Courier New', Courier, monospace;
            background: linear-gradient(to right,red,blue)
        }
        .titulo{
            text-shadow: 10px 5px #000000;
        }

        .pos-fix{
            position: fixed;
            top: 0;
        }
